@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Satisfy&display=swap");

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

.heebo {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body[data-aos-delay="3200"] [data-aos],
[data-aos][data-aos][data-aos-delay="3200"] {
  transition-delay: 3200ms;
}
body[data-aos-delay="3400"] [data-aos],
[data-aos][data-aos][data-aos-delay="3400"] {
  transition-delay: 3400ms;
}
